.container_video {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 250px;
}
.title {
    margin-bottom: 50px;
    font-size: 34px;
    font-weight: bold;
}