.search {
  max-width: 1400px;
  margin: 0 auto;
  background-color: rgba(1, 180, 228, 0.5);
}

.search_image {
  max-width: 1400px;
  position: absolute;
  z-index: -1;
  opacity: 1;
}

.search_title {
  padding-top: 100px;
  padding-left: 20px;
  font-size: 42px;
  color: white;
}

.search_subtitle {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 36px;
  color: white;
}

.search_form {
  margin-top: 125px;
  text-align: center;
  padding-bottom: 63px;
  padding-left: 30px;
}

.search_form_input {
  width: 90%;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 50px;
  border: 2px solid rgba(30, 213, 169);
}
